In [1]:
import pickle
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sklearn
import surprise

In [2]:
userInteractionsDense = pd.read_pickle("Data\\userInteractionsDense.pkl")
gameFeatureMatrix = pd.read_pickle("Data\\gameFeatureMatrix.pkl")
userInteractionsSparse = pd.read_pickle("Data\\userinteractionsSparse.pkl")

In [3]:
userInteractionsSparse

                user      appid     score
0       7.656120e+16      730.0  0.000000
1       7.656120e+16   386360.0  0.000000
2       7.656120e+16   397900.0  0.000000
3       7.656120e+16   880940.0  0.000000
4       7.656120e+16      220.0  0.000000
...              ...        ...       ...
867252  7.656120e+16  1453490.0  0.000159
867253  7.656120e+16   304050.0  0.000511
867254  7.656120e+16  1782210.0  0.000898
867255  7.656120e+16  1677740.0  0.002862
867256  7.656120e+16    40990.0  0.000000

[867257 rows x 3 columns]

In [21]:
reader = surprise.Reader(rating_scale=(1,5))
data = surprise.Dataset.load_from_df(userInteractionsSparse, reader)
train, test = surprise.model_selection.split.train_test_split(data, test_size = 0.2)

svd = surprise.SVD()
svd.fit(train)
pred = svd.test(test)
surprise.accuracy.rmse(pred)

RMSE: 0.6505

0.6505478542306029

In [22]:
u = userInteractionsDense.index[1082]
# preds = np.zeros((svd.trainset.n_items-userInteractionsSparse[userInteractionsSparse["user_id"] == u].count()["user_id"], 2))
preds = np.zeros((svd.trainset.n_items, 2))
i = 0
for item in svd.trainset.all_items():
    rid = svd.trainset.to_raw_iid(item)
    p = svd.predict(u, rid)
    # if (userInteractionsDense.at[u, rid] == 0):
    preds[i][1] = svd.predict(u, rid).est
    preds[i][0] = rid
    i += 1
predsDF = pd.DataFrame(data=preds, index=range(preds.shape[0]), columns=["appid", "score"])

In [25]:
print(userInteractionsSparse[userInteractionsSparse["user"] == u].sort_values(by="score", ascending=False))
predsDF.sort_values(by="score", ascending=False).head(30)
# svd.predict(u, 239140)

                user      appid     score
116726  7.656120e+16      730.0  2.198885
116730  7.656120e+16   504370.0  2.087382
116728  7.656120e+16   466910.0  1.680944
116731  7.656120e+16   714010.0  1.450381
116722  7.656120e+16   107410.0  1.162518
116729  7.656120e+16   578080.0  1.074173
116721  7.656120e+16   251570.0  1.023487
116725  7.656120e+16   299740.0  1.009757
116727  7.656120e+16   359550.0  1.008822
116724  7.656120e+16   268850.0  1.004824
116732  7.656120e+16   945360.0  1.001847
116723  7.656120e+16   221100.0  1.000319
116733  7.656120e+16  1556790.0  1.000000

          appid     score
2242  1515210.0  2.231279
1008  1426210.0  2.140318
566    990080.0  2.089533
2038   790740.0  2.054119
701   1509960.0  2.045623
2627  1332010.0  2.031784
414   1929610.0  2.022519
2522  1948280.0  2.021312
1320  1313140.0  2.012727
3854   936790.0  1.994006
1521  1943950.0  1.992152
1720   383870.0  1.985803
3152   371390.0  1.979667
34    1326470.0  1.978986
2356  1341290.0  1.976532
1721   865360.0  1.974911
527   1222700.0  1.967191
2175   288160.0  1.958230
3934   214190.0  1.956405
68    1668080.0  1.955200
4792  1919590.0  1.947117
2570   756800.0  1.940708
3884  1281590.0  1.940590
381   1135690.0  1.940499
2081  1302240.0  1.936110
2941  1563180.0  1.935408
3285   396790.0  1.928197
3531  1781160.0  1.926670
108   2098350.0  1.924959
4834   486310.0  1.924079